<!DOCTYPE html>
<html>
<style>
    * {
      font-family: Verdana;
      background-color:WhiteSmoke;
    }
    .column {
  float: left;
  width: 33.33%;
  padding: 0px;
    }
    .row::after {
  content: "";
  clear: both;
  display: table;
    }
    .centerImage {
    text-align:center;
    display:block;
    }
    h1 {
  font-size: 200%;
}
</style>
<head>
<title> Welcome to Flyme web chat page </title>
</head>
<body>
<h1><center> Predictions for image {{image_index}}</center></h1>    
<br><br><br><br>

<div class="row">
    <div {margin: 50px} >
    </div>
    <div class="column">
        <center><img id='reference' src='data:image/jpeg;base64,{{ref_mask}}' style='width:256px;height:256px;' ></center>
    </div>
    <div {margin: 50px}
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="column">
        <center><img id='original' src='data:image/jpeg;base64,{{base_image}}' style='width:256px;height:256px;' ></center>
    </div>
    <div class="column">
        <center><img id='reference' src='data:image/jpeg;base64,{{ref_mask}}' style='width:256px;height:256px;' ></center>
    </div>
    <div class="column">
      <center><img id='predicted' src='data:image/jpeg;base64,{{pred_image}}' style='width:256px;height:256px;' ></center>
    </div>
  </div>

</body>
</html>